<html>
    <body>
        <h1>{{ 'app.articles.title'|trans }} - {{ environment }}</h1>
    <h3>Liste des articles :</h3>
    <ul>
        {% for article in articles %}
            <li>{{ article.title }}</li>
        {% endfor %}
    </ul>
    </body>
</html>
